vendor
settings.php
nbproject/private
*.sync-conflict*
*.bak
GeoLite2-City.mmdb
public/files/*
!public/files/.htaccess
public/themes/*
!public/themes/bootstrap/*
!public/themes/identity/*
!public/themes/verti/*