/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.sw-text-input {
    border: 2px dashed red;
    width: 100%;
}

.note-editor {
    border: 2px dashed red !important;
}