/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

input[type="text"].sw-text-input {
    border: 2px dashed red !important;
    width: 100%;
    color: black !important;
    background: white !important;
    border-radius: 0px;
}

.sw-editable {
    border: 2px dashed red !important;
}

button.note-btn, .note-modal button, .mce-widget button, .mce-menubtn button, .mce-btn button, button.mce-close {
    box-shadow: none !important;
    color: #333 !important;
    text-transform: none;
    letter-spacing: normal;
    transition: none;
}

.mce-btn.mce-primary button {
    color: white !important;
}

.mce-btn.mce-active button, .mce-btn.mce-active:hover button, .mce-btn.mce-active i, .mce-btn.mce-active:hover {
    color: white !important;
}

.mce-label {
    text-transform: none;
    letter-spacing: normal;
}

.note-modal .close {
    color: #000 !important;
}

.note-modal .checkbox label input[type="checkbox"] {
    opacity: 1;
    margin-right: 1px;
    appearance: checkbox;
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
    -ms-appearance: checkbox;
}

.sw-editbtn {
    border: 2px dashed red !important;
    color: black !important;
    background: white !important;
    border-radius: 0px;
    z-index: 99999;
}